---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */
import { Icon } from "astro-icon/components";

// components
import ServiceCard from "@components/ServiceCard/ServiceCardSideImage.astro";

// images
import image1 from "@images/house.jpg";
import image2 from "@images/living-room.jpg";
import image3 from "@images/paint-swatches.jpg";

interface ServiceItem {
    image: ImageMetadata; // an imported image
    title: string;
    details: string;
    href: string; // link to learn more
}

// default data (fallback)
const defaultServiceData: ServiceItem[] = [
	{
		image: image1,
		title: "Component Sourcing",
		details: `We source high-quality components from trusted suppliers to ensure the best possible quality for your products.`,
		href: "/services/exterior-painting/",
	},
	{
		image: image2,
		title: "Custom Kits",
		details: `We can create custom kits to meet your specific needs.`,
		href: "/services/interior-painting/",
	},
	{
		image: image3,
		title: "Product Development",
		details: `We can help you develop your product from concept to production.`,
		href: "/services/deck-and-fence-staining/",
	},
];

interface Props { title?: string; items?: ServiceItem[] }
const { title = "Our Services", items } = Astro.props as Props;

const serviceData: ServiceItem[] = items && items.length ? items : defaultServiceData;
---

<section id="services-side-image" class="overflow-hidden py-12">
	<div class="site-container">
		<div class="mx-auto flex max-w-2xl justify-center text-center">
			<h2 class="h2 relative z-20 mx-4">
				<div class="absolute top-0 left-0 hidden md:block">
					<Icon
						name="stellar/freehand-arrow-curl"
						class="text-primary-500 h-auto w-24 -translate-x-24 translate-y-12 -scale-x-100 -rotate-[45deg]"
						aria-hidden="true"
					/>
				</div>
				{title}
			</h2>
		</div>
		<div class="mt-10 flex flex-col gap-16 md:mt-16 md:gap-24">
			{
				serviceData.map((feature, idx) => (
					<ServiceCard
						title={feature.title}
						details={feature.details}
						image={feature.image}
						imageSide={idx % 2 === 0 ? "right" : "left"}
						href={feature.href}
						idx={idx}
					/>
				))
			}
		</div>
	</div>
</section>
