---
// overview page
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/Button/Button.astro";

const overview__heading = "mb-4 mt-6 text-xl font-medium";
const overview__link = "my-[.15rem] leading-snug transition hover:text-primary-600";
---

<BaseLayout title="Overview" description="The various pages of Stellar">
  <section class="site-container pt-36 md:pt-44">
    <div class="mx-auto max-w-4xl">
      <h1 class="h1">Overview</h1>
      <p class="description mt-2">The various pages of Stellar</p>
      <div class="xs:grid-cols-2 mx-auto mt-10 grid gap-4 md:grid-cols-3">
        <div class="flex flex-col">
          <h3 class={overview__heading}>Landing Pages</h3>
          <a class={overview__link} href="/">Landing 1</a>
          <a class={overview__link} href="/examples/landing2">Landing 2</a>
          <a class={overview__link} href="/examples/landing3">Landing 3</a>
        </div>
        <div class="flex flex-col">
          <h3 class={overview__heading}>Blog</h3>
          <a class={overview__link} href="/blog">Blog Index 1</a>
          <a class={overview__link} href="/examples/blogIndex2">Blog Index 2</a>
          <a class={overview__link} href="/categories">Categories</a>
          <a class={overview__link} href="/blog/tsconfig-paths-setup">Blog Post</a>
        </div>
        <div class="flex flex-col">
          <h3 class={overview__heading}>Sections</h3>
          <a class={overview__link} href="/examples/feature-services">All Feature and Services Sections</a>
          <a class={overview__link} href="/examples/testimonial-faq">All Testimonial and FAQ Sections</a>
          <a class={overview__link} href="/examples/hero-sections">All Hero Sections</a>
        </div>
        <div class="flex flex-col">
          <h3 class={overview__heading}>Elements and Forms</h3>
          <a class={overview__link} href="/elements">MDX Pages</a>
          <a class={overview__link} href="/contact">Contact</a>
        </div>
        <div class="flex flex-col">
          <h3 class={overview__heading}>Widgets</h3>
          <button id="test-consent-demo-btn" class="overview-link text-left">Cookie Consent</button>
        </div>
        <div class="flex flex-col">
          <h3 class={overview__heading}>Other Pages</h3>
          <a class={overview__link} href="/about">About</a>
          <a class={overview__link} href="/privacy-policy">Privacy Policy</a>
          <a class={overview__link} href="/terms">Terms of Use</a>
          <a class={overview__link} href="/not-a-link/">404</a>
          <a class={overview__link} href="/rss.xml" target="_blank" rel="noopener noreferrer">RSS Feed</a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
